@import url("//fonts.googleapis.com/css2?family=Recursive:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

@media (prefers-color-scheme: light) {

	body {
	  background-color: #f0f0f0;
	  color: #333;
	}
  }

  @media (min-width:270px){

	/* Embed responsive item */
	#intro .embed-responsive-item{
         display:none;
	 width:237px;
	}

	#events div iframe{
		display:inline-block;
		width:326px;
	   }
	
   }

   @media (min-width:270px){

	/* Embed responsive item */
	main #intro .embed-responsive-item{
	 width:100% !important;
	}
	
   }
   
   @media (min-width:452px){
   
	/* Embed responsive item */
	#intro .embed-responsive-item{
	 display:inline-block;
	}
	
	/* Embed responsive item */
	main #intro .embed-responsive-item{
	 width:100% !important;
	}
	
   }
   
   @media (min-width:567px){
   
	/* Embed responsive item */
	#intro .embed-responsive-item{
	 display:inline-block;
	 width:531px;
	}
	
   }
   
   @media (min-width:709px){
   
	/* Embed responsive item */
	#intro .embed-responsive-item{
	 display:inline-block;
	 width:662px;
	}
	
   }
   
   @media (min-width:934px){
   
	/* Embed responsive item */
	#intro .embed-responsive-item{
	 display:inline-block;
	 width:899px;
	}
	
   }
   
   @media (min-width:1080px){
   
	/* Embed responsive item */
	#intro .embed-responsive-item{
	 display:inline-block;
	 transform:translatex(0px) translatey(0px);
	}
	
	/* Embed responsive item */
	main #intro .embed-responsive-item{
	 width:100% !important;
	}
	
   }
   
   @media (min-width:1213px){
   
	/* Embed responsive item */
	#intro .embed-responsive-item{
	 display:inline-block;
	 width:1172px;
	}
	
   }

   
   
   

html{
    scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
    padding-top:57px;
    min-height:725px;
	background-image: url('/images/headerbg.jpeg');
    text-shadow:rgb(0, 0, 0) 1px 1px 0px, rgb(0, 0, 0) 2px 2px 0px !important;
}

.col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

header p{
    font-size:20px;
    transform:translatex(-4px) translatey(233px);
}

header h1{
    transform:translatex(-4px) translatey(222px);
}

#about {
	padding: 50px;
	padding-top:171px;
	margin-bottom:186px;
  }

  main #about h2{
	color:#000000 !important;
   }
   
  
   #about-us {
	min-height:670px;
	padding-top:170px;
	background-color:#e5e5e5;
  }
  
  #about-us h2 {
	padding-left:0px;;
	font-size:41px;
	margin-bottom: 20px;
	text-align: center;
  }
  
  #about-us p {
	text-align: center;
	font-size: 1.2rem;
	line-height: 1.5;
	margin-bottom: 20px;
  }
  
  #about-us ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
  }
  
  #about-us li {
	font-size: 1.2rem;
	line-height: 1.5;
	margin-bottom: 10px;
	text-align: center;
  }
  
  #about-us li strong {
	font-weight: bold;
	text-align: center;
  }

  .team-container > .team-member{
	width:15% !important;
   }

  .team-member {
	margin-bottom: 3rem;
	text-align: center; 
	flex:1 1 0%;
  }

  main #team h2{
	height:50% !important;
	width:100% !important;
   }


  #team .team-member img{
	border-color:#a0a0a0;
	width: 14rem;
	height: 14rem;
   }
   
   
  .team-member h4, .team-member .h4 {
	margin-top: 1.5rem;
	margin-bottom: 0;
  }
  
  .team-item:hover .overlay {
	opacity: 1;
  }
  
  .team-item .overlay h3 {
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
	margin: 0;
  }


nav{
	z-index:1000;
	height: 10%;
}


#events{
	height:60vh;
	min-height:750px;
	margin-bottom:0px;
	padding-top:10px;
	background-color:#e2e2e2;
}

#events h3{
	text-align:center;
	display: none;
}

#events h2{
	margin-bottom:60px;
}

 main #events .eventtaka1{
 min-height:420px;
 background-color:#d3d3d3;
 border-top-left-radius:50px;
 border-top-right-radius:50px;
 border-bottom-left-radius:50px;
 border-bottom-right-radius:50px;
 width:25% !important;
 height:531px !important;
 min-height:531px !important;
}

main #events .eventtaka1 h4{
	text-align:center;
	margin-bottom:29px;
}

#events .eventtaka1 h4{
	padding-top:22px;
}

 main #events .eventtaka1 .embed-responsive-item{
	bottom:-140px;
	width:91% !important;
	height:58% !important;
	text-align:left;
	clear:none;
	position:relative;
	left:5%;
	top:17% !important;
	top:5% !important;
}

#events .eventtaka1 p{
	margin-bottom:0px;
	text-align:center;
	margin-bottom:0px;
	text-align:center;
	font-size:18px;
   }
   
      
#intro h1{
	margin-bottom:5% !important;
   }

   #intro h1{
	text-align:center;
   }

   #intro .embed-responsive-item{
	min-height:799px;
   }

#intro{
	height: 100vh;
}


.navbar a img{
	display:inline-block;
	height:118px;
}
   

main {
	padding: 20px;
}

section {
	margin-bottom: 40px;
}

h2 {
	color: #333;
	font-size: 32px;
	margin-bottom: 20px;
	text-align:center;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.post {
	background-color: #eee;
	padding: 20px
}

form label {
	display: block;
	margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form textarea {
	padding: 10px;
	margin-bottom: 10px;
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 5px;
}

form textarea {
	height: 100px;
}

form input[type="submit"] {
	background-color: #333;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

footer {
	background-color: #333;
	padding: 20px;
	text-align: center;
}

footer footer p{
	color:#ffffff;
}
