@import url("//fonts.googleapis.com/css2?family=Recursive:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("//fonts.googleapis.com/css2?family=Beth+Ellen:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&family=Poppins&display=swap');

   *{
	font-family:Poppins, sans-serif;
   }
   

   body {
	font-size: 16px;
	line-height: 1.5;
	color: #333;
	margin: 0;
	padding: 0;
  }

  @media (prefers-color-scheme: light) {

	body {
	  background-color: #f0f0f0;
	  color: #333;
	}
  }
  

html{
    scroll-behavior: smooth;
}


header {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
    padding-top:57px;
    min-height:90vh;
	background-image: url('https://theocahill.github.io/kiwicollective.co.nz/images/headerbg.jpeg');
    text-shadow:rgb(0, 0, 0) 1px 1px 0px, rgb(0, 0, 0) 2px 2px 0px !important;
}

header p{
    font-size:20px;
    transform:translatex(-4px) translatey(233px);
}

header h1{
    transform:translatex(-4px) translatey(222px);
}

.name-strong{
	position:relative;
	left:1%;
}

#about {
	padding: 50px;
	padding-top:171px;
	margin-bottom:186px;
  }

  main #about h2{
	color:#000000 !important;
   }
   
  
   #about-us {
	min-height:670px;
	padding-top:170px;
	background-color:#e5e5e5;
  }
  
  #about-us h2 {
	padding-left:0px;;
	font-size:41px;
	margin-bottom: 20px;
	text-align: center;
  }

  #about-us h5{
	text-align:center;
	font-family:'Beth Ellen', handwriting;
	font-size:26px;
   }
   
  
  #about-us p {
	text-align: center;
	font-size: 1.2rem;
	line-height: 1.5;
	margin-bottom: 20px;
  }
  
  #about-us ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
  }
  
  #about-us li {
	font-size: 1.2rem;
	line-height: 1.5;
	margin-bottom: 10px;
	text-align: center;
  }
  
  #about-us li strong {
	font-weight: bold;
	text-align: center;
  }

  .team-container > .team-member{
	width:15% !important;
   }

  .team-member {
	margin-bottom: 3rem;
	text-align: center; 
	flex:1 1 0%;
  }

  main #team h2{
	height:50% !important;
	width:100% !important;
   }


  #team .team-member img{
	border-color:#a0a0a0;
	width: 14rem;
	height: 14rem;
   }
   
   
  .team-member h4, .team-member .h4 {
	margin-top: 1.5rem;
	margin-bottom: 0;
  }
  
  .team-item:hover .overlay {
	opacity: 1;
  }
  
  .team-item .overlay h3 {
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
	margin: 0;
  }


nav{
	z-index:999;
	height: 10%;
}


  header {
	background-color: #222;
	color: #fff;
	padding: 20px;
  }
  
  header h2 {
	margin: 0;
	font-size: 36px;
  }

  .events{
	padding-top:100px;
	background-color:#e8e7e7;
	height:80vh !important;
  }

  .events h3{
	text-align:center;
   }

  .events-list {
	list-style: none;
	margin: 0;
	padding: 0;
  }
  
  .event {
	margin: 20px 0;
	border: 1px solid #ccc;
	padding: 20px;
	padding-top:35px;
  }

  .events-list li{
	width:640px !important;
	min-height:643px;
	display:none;
   }
   
 
  .event h2 {
	margin: 0 0 60px 0;
	font-size: 24px;
	margin-bottom:40px;
  }
  
  .event p {
	margin: 0;
	text-align:center;
	font-size:20px;
	padding-top:35px;
  }

  .events-list .event img{
	display:block;
	margin: 0 auto;
	margin-bottom:30px;
	width:430px;
	min-height:269px;
	height:269px !important;
	max-width:460px !important;
   }

   main #events .events-list .event img{
	width:517px !important;
   }

   #events .events-list li{
	height:696px !important;
   }

   .events ul{
	min-height:721px;
   }

   .navbar .container-fluid{
	background-color:#212529;
   }
   
      
#intro h1{
	margin-bottom:5% !important;
   }

   #intro h1{
	text-align:center;
   }

   #intro .embed-responsive-item{
	min-height:799px;
   }

#intro{
	height: 100vh;
}


.navbar a img{
	display:inline-block;
	height:118px;
}
   

main {
	padding: 20px;
}

section {
	margin-bottom: 40px;
	max-width:1500px;
	margin-left:auto !important;
	margin-right:auto !important;
	background-color:#fbfbfb !important;
}

h2 {
	color: #333;
	font-size: 32px;
	margin-bottom: 20px;
	text-align:center;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.post {
	background-color: #eee;
	padding: 20px
}

form label {
	display: block;
	margin-bottom: 5px;
	text-align:center;
}

form{
	text-align: center;
	width: 80%;
	margin-left:auto !important;
	margin-right:auto !important;
}

form input[type="text"],
form input[type="email"],
form textarea {
	padding: 10px;
	margin-bottom: 10px;
	width: 100%;
	border: 1px solid #b1b1b1;
	border-radius: 5px;
	
}

form textarea {
	height: 100px;
}


form input[type="submit"] {
	background-color: #333;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

footer {
	background-color: #333;
	padding: 20px;
	text-align: center;
}

footer p{
	color:#ffffff;
}


@media (min-width:270px){

	/* List Item */
	#events .events-list li{
	 width:221px !important;
	}
	
	
	/* Image */
	main #events .events-list .event img{
	 width:176px !important;
	}
	
   }
   
   @media (min-width:293px){
   
	/* Image */
	.events-list .event img{
		max-width:279px !important;
		min-height:199px;
		max-height:85px;
		height:199px !important;
	   }

	   main #events .events-list .event img{
		width:348px !important;
	   }
	
	/* List Item */
	#events .events-list li{
	 width:282px !important;
	}
	
   }
   
   @media (min-width:393px){
   
	/* List Item */
	#events .events-list li{
	 transform:translatex(0px) translatey(0px);
	}
	
	/* Image */
	main #events .events-list .event img{
	 width:271px !important;
	}
	
	/* Image */
	.events-list .event img{
	 min-height:190px;
	 height:190px !important;
	 max-width:365px !important;
	}
	
   }
   
   @media (min-width:482px){
   
	/* List Item */
	#events .events-list li{
	 transform:translatex(0px) translatey(0px);
	 height:694px !important;
	}
	
	/* Image */
	.events-list .event img{
	 min-height:216px;
	 height:216px !important;
	 max-width:363px !important;
	}
	
	/* Image */
	main #events .events-list .event img{
	 width:400px !important;
	}
	
   }
   
   @media (min-width:293.993px){
   
	/* Image */
	main #events .events-list .event img{
		width:242px !important;
	   }
	
   }
   
   @media (min-width:393.993px){
   
	/* List Item */
	#events .events-list li{
	 width:319px !important;
	}
	
   }
   
   @media (min-width:482.986px){
   
	/* List Item */
	#events .events-list li{
	 width:417px !important;
	}
	
   }
   
   @media (min-width:651.997px){
   
	/* List Item */
	#events .events-list li{
	 width:526px !important;
	}
	
	/* Image */
	main #events .events-list .event img{
	 width:365px !important;
	}
	
	/* Image */
	.events-list .event img{
	 min-height:233px;
	 height:233px !important;
	}
	
   }
